

.my-Vh75 {
    height: 75vh;
  }

.my-BgColorblue{
    background-color: #0A1F44;
}

.mt-6 {
    margin-top: 3.5rem;
  }

.HomeBgImage{
    background-image: url('./Rafeeq/landBg.png') ;
    background-size: cover;
    background-position: center;

}

.btn-landpage{
width: max-content;
height: max-content;
border-radius: 1.25rem;
gap: .625rem;
padding: .625rem;

}

.shadow-box-btn-landpage{
box-shadow: 1.25rem .25rem .25rem 0px #00000040;
  ;
}


