

.my-Vh75 {
    height: 75vh;
  }

.my-BgColorblue{
    background-color: #0A1F44;
}

.mt-6 {
    margin-top: 3.5rem;
  }

.HomeBgImage{
    background-image: url('./Rafeeq/landBg.png') ;
    background-size: cover;
    background-position: center;

}

.btn-landpage{
width: 216;
height: 53;

border-radius: 20px;
padding: 10px;
gap: 10px;

}

.shadow-box-btn-landpage{
box-shadow: 1.25rem .25rem .25rem 0px #00000040;
  ;
}


