html, body, #root {
    height: 100%;
    margin: 0;
    font-family: "poppins", sans-serif !important;
  }

  .Main-btn {
    width: 50%;
    height: 100%;
    border: none;
    background-color: #F28C28;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
  
  }

  .Main-btn-small{
    background-color: #F28C28;
    font-size: 24px;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    color: white;
  
  }
  
  .BgReport{
    background-image: url("./Rafeeq/Sumbit report.png");
    background-position: center;
    background-size: cover;
}


  .input-shadowbox {
    box-shadow: .3125rem .9375rem .25rem 0px #00000040;
  }

  .form-container {
    background-color: #E5F0FB !important;
  }

  /* utility classes */
  /* colors */
  .my-colorlightblue1 {
  color: #A8E8DF !important ;
  }


.my-TrackReportCard{
  background-color: #EAF1FF !important;
  border-radius: 20px;
  border: #0A1F44 2px solid;
}

  .my-Bgcolorlightblue1 {
    background-color: #C9D9F9 !important ;
  }
  .my-colorlightblue2 {
  color: #CED9EF !important ;
  }
  .my-min-content{
    height: min-content;
  }

  .my-m-0{
    margin: 0;
  }

  .my-input{
    border: #0A1F44 solid !important;
  }

  .h-90{
height: 90%;
  }

  .h-max-content{
    height: max-content;
  }

  .color-1F2937{
    font-weight: bold;
    color: #1F2937;
  }


  .text-bold{
    font-weight: 500 !important;
  }

  .my-black {
    color: #0D182D !important;
  }

.crusor-pointer{
  cursor: pointer;
}






  
  @media (max-width: 576px) , (max-height: 576px) {
    html {
      font-size: 0.7rem;
    }
  }

